
.main{
    background-color: greenyellow;
    min-height: 500px;
}
.roles{
    background-color: rgb(192, 190, 190);
    min-height: 500px;
}
.cabecera{
    background-color: rgb(138, 138, 138);
    min-height: 100px;
}


  
